body {
  background-image: url("./images/2-black-galaxy-background.jpeg");
  /* background: linear-gradient(to top, #040404, #000000, #2c3e50); */
  /* width: 100%; */
  height: 100%;
  /* margin: 0; */
  background-repeat: "no-repeat";
  background-position: center;
  background-size: cover;
}

/* html {
  background-color: #040404;
  /* background: linear-gradient(to top, #040404, #000000, #2c3e50); */
/* } */


#loading {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: darkkhaki;
}

#pagination {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.active > .page-link  {
  color: black !important;
  background-color: darkkhaki !important;
} 

li .page-link {
  color: black;
}
