body {
  background-image: url("./images/2-black-galaxy-background.jpeg");
  /* background: linear-gradient(to top, #040404, #000000, #2c3e50); */
  height: 100%;
  min-height: 1000px;
  background-repeat: "no-repeat";
  background-position: center;
  background-size: cover;
}

button.page-link,
button.page-item {
  background-color: "rgb(249, 245, 245";
  border-color: gray;
  color: black;
  box-shadow: none !important;
}

.active > .page-link {
  color: black !important;
  background-color: darkkhaki !important;
  border-color: gray !important;
  box-shadow: none !important;
}

.page-link:hover {
  background-color: lightgray !important;
  border-color: gray !important;
  color: #000000 !important;
}

button:focus {
  color: black !important;
}
